<header>`
    <nav>
      <div class="nav-container">
        <a routerLink="/" class="logo">
          <img src="../../assets/img/logo.png" alt="IgniFund Logo">
        </a>
        <ul class="nav-links">
          <li *ngIf="showHome"><a routerLink="/">Home</a></li>
          <li *ngIf="showAbout"><a routerLink="/about">About</a></li>
          <li *ngIf="showHowItWorks"><a routerLink="/how-it-works">How It Works</a></li>
          <li *ngIf="showBrowse"><a routerLink="/browse">Browse</a></li>
          <li *ngIf="showStartCampaign"><a routerLink="/start-campaign">Start Campaign</a></li>
          <li *ngIf="showSuccessStories"><a routerLink="/success-stories">Success Stories</a></li>
          <li *ngIf="showLogin"><a routerLink="/login">Login</a></li>
          <li *ngIf="showRegister"><a routerLink="/register" class="button">Get Started</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <nav>
    <div class="nav-container">
      <a routerLink="/" class="logo">
        <img [src]="'assets/img/logo.png'" alt="IgniFund Logo">
      </a>

      <!-- Navbar for Home Page -->
      <ul class="nav-links" *ngIf="isHomePage">
        <li><a routerLink="/how-it-works">How It Works</a></li>
        <li><a routerLink="/browse">Browse</a></li>
        <li><a routerLink="/success-stories">Success Stories</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/start-campaign">Start Campaign</a></li>
        <li><a routerLink="/login" class="button">Get Started</a></li>
      </ul>

      <!-- Navbar for Other Pages -->
      <ul class="nav-links" *ngIf="!isHomePage">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/how-it-works">How It Works</a></li>
        <li><a routerLink="/browse">Browse</a></li>
        <li><a routerLink="/start-campaign">Start Campaign</a></li>
        <li><a routerLink="/success-stories">Success Stories</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register" class="button">Sign Up</a></li>
      </ul>
    </div>
  </nav>
